
.add-form {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

#input-name {
    min-width: 30rem;
    margin-left: .5rem;
}

#input-quantity {
    width: 5rem;
    margin-left: .5rem;
}

#input-unit {
    width: 8rem;
    margin-left: .5rem;
}



